p {
    text-align: justify;
}


/*TREE STRUCTURE*/
/*:empty*/
li:empty {
    outline: 2px solid deeppink;
    height: 1rem;
}

/*:nth-child*/
.ulNthChild li:nth-child(odd) {
    background-color: plum;
}

.ulNthChild :nth-child(2) {
    outline: 2px dotted blue;
}

.ulNthChild li:nth-child(n + 3) {
    font-weight: 700;
}

/*:nth-last-child*/
.ulNthLastChild :nth-last-child(2) {
    outline: 3px dotted blueviolet;
}

.ulNthLastChild :nth-last-child(n + 3) {
    font-weight: 700;
}

/*:only-child*/
.ulOnlyChild :only-child {
    background-color: burlywood;
}

/*:nth-of-type*/
.divNthOfType div:nth-of-type(odd) {
    background-color: bisque;
}


/*USER ACTION*/
/*:hover*/
.buttonHover:hover {
    background-color: green;
}

/*:active*/
.buttonActive:active{
    background-color: rgb(126, 51, 217);
}

/*:focus*/
.inputFocus:focus{
    background-color: beige;
}